
.five-columns {
    display: flex;
    justify-content: space-between;
}

.five-columns > div {
    width: 17%;
    border: solid 1px hsl(0, 0%, 0%) ;
}

.four-columns {
    display: flex;
    justify-content: space-between;
}

.four-columns > div {
    width: 22%;
    border: solid 1px hsl(0, 0%, 0%) ;
}

.three-columns {
    display: flex;
    justify-content: space-between;
}

.three-columns > div {
    width: 29%;
    border: solid 1px hsl(0, 0%, 0%) ;
}

.two-columns {
    display: flex;
    justify-content: space-between;
}

.two-columns > div {
    width: 48%;
    border: solid 1px hsl(0, 0%, 0%) ;
}

.two-columns-aside {
    display: flex;
    justify-content: space-between;
}

.two-columns-aside > div {
    width: 78%;
    border: solid 1px hsl(0, 0%, 0%) ;
}

.two-columns-aside > .column-aside {
    width: 19%;
    border: solid 1px hsl(0, 0%, 0%) ;
}

.column {
    display: flex;
    justify-content: space-between;
}

.column > div {
    width: 100%;
    border: solid 1px hsl(0, 0%, 0%) ;
}