/* General  */

/* button + - */

.amount-item-plus-minus-button {

}

.amount-item-minus {

}

.amount-item-input {

}

.amount-item-plus {

}


/* button + - */
/* button */

.custom-button {

}

/* button */


header {   
    background-color: hsl(0, 3%, 14%);
    color: white;
}

/* header */

.logo-items {
    display: flex;
}

.header-logo-item-img {   
    margin-top: 0.5rem;
    margin-left: 2%;
}

.header-logo-item-img svg {
    color: ;
    height: 4.5vh
}

.header-logo-item-text { 
    margin-top: 1rem;
    font-size: 40px;
    font-weight: 50px;
    font-family: 'Alkalami', serif;
}

.header-menu-items {

}

.header-menu-items ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-menu-items ul li {
    font-size: 20px;
    margin-top: 1rem;
    margin-right: 2%;
}

/* header */

body {

}

main {

}

footer {

}

/* footer */

.footer-items {

}

.footer-copyrigth {

}

.footer-text {

}


/* index */
/* slider */

.home{

}

.home-slider-items {
    
}

.slider-items {
}

.slider-item-text {
    margin-left: 5%;
    margin-top: 35rem;
    position: absolute;
    z-index: 1000;
}

.slider-item-text span {
    font-size: 5rem;
    font-family: 'Alkalami', serif;
    color: hsl(0, 0%, 100%);
}

.slider-item-img {
    width: 100%;
}

.slider-item-img img {
    
    width: 100%;
}

.slider-item-button {
    margin-left: 17%;
    margin-top: 42rem;
    z-index: 900;
    position: absolute;
}


.slider-item-button button {
}

.custom-button {

}
/* slider */
/* featured */

.featured {
    background-color: hsl(0, 3%, 14%);
}

.featured-items {

}

.featured-title {
}

.featured-title span {
    margin-top: 4rem;
    font-family: 'Alkalami', serif;
    font-size: 4rem;
    font-weight: 50px;
    color: hsl(0, 0%, 100%);
}

.featured-item-img {

}

.featured-item-info-img {

}

.featured-item-title span {
} 

.featured-item-description {

}
/* featured */
/* banner */

.banner-text-items {

}

.banner-text-text {

}

.banner-text-img {
    
}

/* banner */
/* index */
/* productos */

/* slider */

.product {

}

.slider-galery-items {

}

.slider-galery-img-main {

}

.galery-slider-img-miniatures {

}
/* slider */
/* Texto */

.product-text-info {
    
}  

.product-text-info-title {

}

.product-item-text-price {

}

.product-item-text-description {

}

.product-item-amount {

}

.amount-items {

}

.amount-item-text {

}

.product-add-to-cart {

}

/* productos */
 /* productos */

 /* categorias */

.products {

}

.products-category-items {

}

.products-category-title {

}

.category-ul {

}

 /* categorias */

 /* productos grid */

.products-top-bar-items {

}

.products-top-bar-text {

}

.products-category-filter {

}

.products-grid-items {
    
}

.products-grid-item {

}

.products-grid-img {

}

.products-grid-description {

}

.productos-grid-see {

}



 /* productos grid */

 /* productos */
 /* carrito */

.cart {

}

.page-title {

}

.trolley-items {

}

.trolley-row-name {

}

.product {

}

.price {

}

.day {

}

.trolley-row-products {

}

.trolley-img {

}

/* resum buy */

.resum-cart {

}

.buy-resum-items {

}

.buy-resum-item {

}

.buy-resum-item-title {

}

.buy-resum-item-value {

}



/* resum buy */

 /* carrito */
/* finalizar-compra */

.checkout {
    
}

.page-title {

}

.custom-form {

}

.custom-form-item {

}

.custom-form-item-input {

}

.custom-form-item-input {

}

.contact-button {

}
 /* ridio */

.buy-method {

}

.radio-input {

}

 /* ridio */

/* finalizar-compra */

/* contacto */

.contact {

}

.page-title {

}

.contact-options-items {

}

.contact-options-item {

}

.contact-options-item-icon {
    
}

.contact-options-item-icon-text {

}

/* formulario */

.contact-form  {

}

.custom-form-item {

}

.custom-form-item-text {

}
.custom-form-item-input {

}

.custom-form-textarea-item {

}

.custom-form-textarea-item-text {

}

.custom-form-textarea-item-input {}

/* formulario */


/* contacto */