/* General  */
/* button */

.custom-button {
    box-shadow: 1px 1px 2px hsla(0, 0%, 100%, 0.213);
    background-color: white;
    border-radius: 15px;
    padding: 0.7rem 10%;
}

/* button */
/* button + - */

.amount-item-plus-minus-button {
    display: flex;
}

.custom-button-minus {
    border-radius: 0;
    padding: 0.1rem 7%;
}

.custom-button-input {
    text-align: center;
    width: 20%;
}

.custom-button-plus {
    border-radius: 0;
    padding: 0.3rem 7%;
}


/* header */

header {   
    background-color: hsl(0, 3%, 14%);
    color: white;
    height: 5vh;
    padding: 0.5rem 2%;
    width: 96%;
}

.logo-items {
    display: flex;
    height: 100%;
}

.header-logo-item-img {  
    align-items: center; 
    margin-right: 1rem;
}

/* A los svg se les dá width y height con rem */
.header-logo-item-img svg {
    height: 3rem;
    width: 3rem;
}

/* Font-weight es un valor de 30, 400, 600 */
/* Font-size lo expresamos en rem*/
/* La combinación de height 100% habiendo dicho que el padre (header) debe tener 5 vh, junto a 
la propiedad align-items permite centrar un elemento dentro de la caja*/
.header-logo-item-text { 
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Alkalami', serif;
}

/*La combinación de un tamaño de width más pequeño que 100% hace que sobre espacio dentro de la caja
que le contiene, por eso al hacer margin-left: auto la caja se desplaza totalmente a la derecha ya que 
utiliza todo el espacio sobrante como margen*/
.header-menu-items{
    height: 100%;
    margin-left: auto;
    width: 30%;
}

.header-menu-items ul {
    align-items: center;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header-menu-items ul li {
    font-size: 20px;
}


/* footer */
footer {
    background-color: hsl(0, 3%, 14%);
    color: hsl(0, 0%, 100%);
    padding: 2rem 0;
}

.footer-copyrigth span {
    position: relative;
    left: 48.5%;
}

.footer-text span{
    position: relative;
    left: 48.5%;
}


/* index */

.home{
    background-color: hsl(0, 3%, 14%);
}

/* slider */

.home-slider-items {
    width: 100%;
}

.slider-item-text {
    left: 5%;
    top: 40vh;
    background-color: hsla(0, 0%, 0%, 0.494);
    padding: 0.5rem 1rem;
    padding-top: 2rem;
    position: absolute;
    z-index: 1000;
}

.slider-item-text span {
    font-size: 5rem;
    font-family: 'Alkalami', serif;
    color: hsl(0, 0%, 100%);
}

.slider-item-img {
    width: 100%;
}

.slider-item-img img {
    width: 100%;
}

.slider-item-button {
    left: 5%;
    top: 60vh;
    z-index: 900;
    position: absolute;
}

/* slider */

/* featured */

.featured {
    margin: 0 auto;
    width: 90%;
    background-color: hsl(0, 3%, 14%);
}

.featured-items {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.featured-title {
    margin-top: 1rem;
}

.featured h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.featured div {
    margin-top: 0.3rem;
}

.featured-title span {
    margin-top: 4rem;
    font-family: 'Alkalami', serif;
    font-size: 4rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

/* featured */
/* banner */

.banner {
    background-color: hsl(0, 3%, 14%);
    margin: 0 auto;
    margin-top: 2rem;
    width: 90%;
}

.banner-text-text p{
    margin-top: 3rem;
    font-size: 1.5rem;
}

.banner-text-img img {
    margin-top: 1rem;
}

/* banner */

/* productos */

/* slider */

.product {
    background-color: hsl(0, 3%, 14%);
    height: 90vh;
    padding: 2rem 5%;
    width: 90%;
}

.galery-slider-img-miniatures {
    margin-top: 1.5rem;
}

.galery-slider-img-miniatures img{
    width: 60%;
}
/* slider */
/* Texto */

.product-text-info {
    color: hsl(0, 0%, 100%);
}  

.product-text-info div {
    margin-bottom: 1rem;
}

.product-text-info-title h1 {
    font-size: 60px;
}

.product-item-text-price {
    font-size: 30px;
    font-weight: 10px;
}

.product-item-text-description {
    font-size: 20px;
}

.product-item-amount {
    display: flex;
    justify-content: space-between;
}

.amount-item-text {
    font-size: 18px;
    margin-right: 1rem;
}

.amount-item-text span {
    margin-top: 0.2rem;
}

/* producto */
 /* productos */

 /* categorias */

.products {
    background-color: hsl(0, 3%, 14%);
    padding: 2rem 5%;
    width: 90%;
}

.products-category-items {
    color: hsl(0, 0%, 100%);
}

.products-category-title h2 {
    font-size: 50px;
}

.category-ul {
    font-size: 30px;
}

 /* categorias */

 /* productos grid */

.products-grid-items {
    margin-left: auto;
    width: 90%;
}

.products-grid-item {
    position: relative;
}

.products-grid-img img{
    width: 100%;    
}

/* Para centrar el texto dentro de la caja text-align center*/
.products-grid-description {
    padding: 1rem;
    background-color: hsl(0, 3%, 25%);
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-align: center;
}

/* Cuando tenemos un boton clickable curson: pointer*/
.products-grid-see {
    cursor: pointer;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    background-image: linear-gradient(to right bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
    margin-bottom: 2rem;
    text-decoration: underline;
    text-align: center;
}

 /* productos grid */

 /* productos */
 /* carrito */

 .trolley-line {
    margin-left: 20%;
    padding: 2px 200%;
    margin-top: 3rem;
    border-bottom: 1px solid white;
 }

 .row-products {
    margin-top: 2rem;
 }


.cart {
    background-color: hsl(0, 3%, 14%);
    height: 100vh;
}

.cart-title {
    padding: 1rem;
}

.cart-title h1{
    text-align: center;
    font-size: 60px;
}

.trolley {
    display: flex;
    flex-wrap: wrap;
}

.trolley-items {
}

.trolley-products {
    font-size: 30px;
    color: hsl(0, 0%, 100%);

}

.price {
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}

.how-much {
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
}

.row-img {
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    width: 20%;
}

.row-img img {
    margin-left: 200%;
    width: 100%;
}

.row-product {
    margin-top: 2rem;
    font-size: 25px;
    color: hsl(0, 0%, 100%);
}

.row-price {
    margin-top: 2rem;
    font-size: 25px;
    color: hsl(0, 0%, 100%);
}

.row-button {
    margin-top: 2rem;
    color: hsl(0, 0%, 100%);
}

/* resum buy */

.resum-buy {
    margin-top: 4rem;
    margin-left: 56%;
    display: flex;
    width: 25%;
    border: 2px solid white;
}

.resum-title {
    font-size: 20px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 0.7rem;
}

.resum-title span {
}

.resum-text {
    color: hsl(0, 0%, 100%);
    margin-top: 0.5rem;
}

.resum-text span {
    margin-left: 35%;
}

.resum-input {
    color: hsl(0, 0%, 100%);
    margin-top: 0.5rem;
}

.resum-input span{
    margin-left: 30%;
}

.line {
    width: 208%;
    border-top: solid 2px white;
}

.resum-buttons {
    margin-top: 2rem;
    margin-left: 62%;
}

.resum-buttons button {
    padding: 0.5rem 0% 0.5rem;
    width: 10%;
    margin-right: 11%;
}

.custom-button-trolley {
    width: 30%;
}

/* resum buy */

 /* carrito */
/* finalizar-compra */

.checkout {
    background-color: hsl(0, 3%, 14%);
    height: 90vh;
    width: 90%;
    padding: 0 5%;
}

.checkout-title {
    text-align: center;
    padding: 1rem;
    padding-bottom: 5rem;
}

.checkout h1 {
    font-size: 60px;
}

.column-checkout {
    border-right: 3px solid white;
} 

.custom-form-input-item-input {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.custom-form-input-item-input input {
    padding: 0.2em 31%;
}

.move-checkout {
}



.resum-buy-checkout {
    margin-top: 4rem;
    height: 16vh;
    border: 2px solid white;
}

.resum-checkout-title {
    text-align: center;
    padding: 0.5rem;
    background-color: hsl(0, 0%, 100%);
}

.resum-checkout-text {
    margin-top: 0.5rem;
    text-align: center;
}

.resum-checkout-input {
    margin-top: 0.5rem;
}

.resum-checkout-title span {
    font-size: 22px;
    color: hsl(0, 3%, 14%);;
}

.resum-checkout-text span {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}

.resum-checkout-input span {
    margin-left: 40%;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

 /* ridio */

.buy-method {
    margin-top: 5vh;
}

.buy-method div {
    margin-top: 1rem;
}

.buy-method div label {
    color: white;
    font-size: 18px;
}


 /* ridio */

/* finalizar-compra */

/* contacto */

.contact {
    background-color: hsl(0, 3%, 14%);
    height: 100vh;
    padding: 0 5%;
    width: 90%;
}

.page-title h1 {
    padding: 1rem;
    font-size: 60px;
    text-align: center;
}

.contact-options-items {
    margin-top: 5vh;
}

.contact-options-item {
    margin-top: 5vh;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-start;
}

.contact-options-item-text {
    margin-top: 0.2rem;
}

.contact-options-item-text {
    font-size: 40px;
}

/* formulario */
.custom-form  {
    margin-top: 3vh;
}

.custom-form-items {
    margin-bottom: 1rem;
}

.custom-form-item-text {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.custom-form-item-input input{
    color: #000;
    padding: 0.5em;
    width: 100%;
}

.custom-form-textarea-item-text {
    
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.custom-form-textarea-item {
    margin-bottom: 1rem;
}

.custom-form-textarea-item-input textarea{  
    height: 20vh;
    padding: 0.5rem;
    width: 100%;  
}

/* formulario */


/* contacto */

