.body-admin {

    h1{
        margin-left: 6vh;
    } 
    background-color: whitesmoke;
}

.admin-main {
    margin-top: 3vh;
    min-height: 100vh;
    width: 96%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    .table{
        width: 35%;
    }

    .form{
        width: 60%;
    }

    .ficha-info {
        margin-left: 2rem;
        border-top: 2px solid rgb(212, 212, 212);
        border-bottom: 2px solid rgb(212, 212, 212);
        background-color: white;

        .edit-or-bin {

            padding: 0.5rem;

            .img-edit {

                cursor: pointer;
                color: #636363;
            }

            .img-edit:hover {

                color: #02A8B1;
            }

            .img-bin {

                cursor: pointer;
                color: #636363;
            }

            .img-bin:hover {

                color: #02A8B1;
            }
        }
    }
}

.text {
    margin-left: 2rem;
    padding: 0.5rem;
    

    .info-text {

        .info-text-title {
    
            display: flex;
    
            h5 {
                padding-right: 0.3rem;
                font-size: 1rem;
                color: #02A8B1;
                font-weight: 600;
            }
        }
    }
}