.product-text-info {
    color: $secondary-color;
}  

.product-text-info div {
    margin-bottom: 1rem;
}

.product-text-info-title h1 {
    font-size: 60px;
}

.product-item-text-price {
    font-size: 30px;
    font-weight: 10px;
}

.product-item-text-description {
    font-size: 20px;
}

.product-item-amount {
    display: flex;
    justify-content: space-between;
}

.amount-item-text {
    font-size: 18px;
    margin-right: 1rem;
}

.amount-item-text span {
    margin-top: 0.2rem;
}