.resum-buy {
    margin-top: 4rem;
    margin-left: 56%;
    display: flex;
    width: 25%;
    border: 2px solid $secondary-color;
}

.resum-title {
    font-size: 20px;
    text-align: center;
    background-color: $secondary-color;
    padding: 0.7rem;
}

.resum-text {
    color: $secondary-color;
    margin-top: 0.5rem;
}

.resum-text span {
    margin-left: 35%;
}

.resum-input {
    color: $secondary-color;
    margin-top: 0.5rem;
}

.resum-input span{
    margin-left: 30%;
}

.line {
    width: 208%;
    border-top: solid 2px $secondary-color;
}

.resum-buttons {
    margin-top: 2rem;
    margin-left: 62%;
}

.resum-buttons button {
    padding: 0.5rem 0% 0.5rem;
    width: 10%;
    margin-right: 11%;
}

.custom-button-trolley {
    width: 30%;
}