.four-columns > .column{
    width: 24.5%;
}

.tabs-container {

    width: 95%;

        .tabs{
            cursor: pointer;
            background-color: #333333;
            text-align: center;
            padding: 0.7rem 20%;
            border-top-left-radius: 1.5rem;
            border-top-right-radius: 1.5rem;
            border: solid 2px black;
            margin-bottom: -2rem;
        }

        .tabs:hover {
            color: #777;
        }

        .tabs.active {
            margin-top: 0.2rem;
            color: #777;
            border-bottom: rgba(0, 0, 0, 0.11);
        }
        
    .info-tabs-container {
        
        margin-left: -1rem;
        width: 97%;
        border-radius: 1rem;
        background-color: #333333;
        padding: 3.5rem;

        .tab-contents{
            display: none;

            h4 {
                font-size: 3.5rem;
                padding: 1rem;
            }

            p {
                font-size: 1.5rem;
            }
        } 

        .tab-contents.active {
            display: inline;
        }
    } 
    
}

// Admin


.tabs-form-admin {
    background-color: white;
    width: 95%;
}

.tabs-container-admin {

    height: 70vh;

    .title-tabs-container-admin {

        background-color: #b7b5b5;
    }

    .save-clean-on-off {
        width: 95%;
        margin-top: 0.5vh;
        display: flex;
        justify-content: flex-end;

        svg {
            cursor: pointer;
            color: #636363;
        }

        svg:hover {

            color: #02A8B1;
        }
    }

    .tabs-side {

        display: flex;

        .tabs-admin {
            cursor: pointer;

            span {
                color: white;
                font-weight: 600;
                padding: 1rem ;
                display: block;
            }
        }

        .tabs-admin:hover {
            
            span {
                background-color:  #02A8B1;
            }
        }

        .tabs-admin.active {

            span {
                background-color: #02A8B1;;
            }
        }
    }
        
    .info-tabs-container-admin {
        

        .tab-contents-admin{
            display: none;
        } 

        .tab-contents-admin.active {
            display: inline;
        }
    } 

    .info-tabs-container-admin {
        margin-top: 2vh;
        margin-left: 5rem;

        .tab-contents-admin {

            .label-form-admin {

                label {

                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #b7b5b5;
                }
            }
            .input-form-admin {

                select {
                    border-radius: 0;
                    margin-top: 1vh;
                    border: none;
                    padding: 0.2rem 10rem;
                    border-bottom: 2px solid #b7b5b5;
                }
            }
            
        }
    }

    .tab-contents-admin {
    
        .title-contents-admin {

            h4 {
                color: #b7b5b5;
                font-size: 2rem;
                margin-top: 7vh;
                margin-bottom: 5vh;
            }
        }

        .add-img {

            width: 80%;
            margin-left: 3rem;
            margin-top: 3vh;
            border: #02A8B1 3px dotted;
            height: 20rem;

            .button-add-img {

                text-align: center;
                margin-top: 25%;
            }
        }
    }
    
}

// language


    
    .title-bar-language  {

        background-color: #b7b5b5;
        margin-top: 4vh;
        width: 80%;
        padding: 1rem;

        .title-language {

            span {
                cursor: pointer;
                color: white;
                font-weight: 600;
                margin-left: -1rem;
                padding: 1.06rem;
            }

            span:hover {

                background-color: #02A8B1;
                padding: 1.06rem;
            }
    
        }
        .active {

            span {

                background-color: #02A8B1;
                padding: 1.06rem;
            }
        }
    }

    .language-contents {

        margin-left: 1.5rem;
        margin-top: 3vh;

        .contents-label  {

            margin-bottom: 0.5rem;

            label {
                color: #b7b5b5;
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        .contents-input  {

            input {

                border: none;
                border-bottom: #b7b5b5 solid 2px;
                padding: 0 30%;
            }
        }

        .contents-textarea-label {

            margin-top: 2vh;

            label {
                color: #b7b5b5;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

        .contents-textarea {

            margin-top: 2vh;

            textarea  {

                border: 2px solid #b7b5b5;
                padding: 0 27%;
            }
        }
    }